<!DOCTYPE html>
<head th:replace="layout/header::head"></head>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">orProject</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
<!--                <li class="active"><a href="#">Home</a></li>-->
<!--                <li><a href="#">About</a></li>-->
<!--                <li><a href="#">Projects</a></li>-->
<!--                <li><a href="#">Contact</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
<!--            <p><a href="#">Link</a></p>-->
<!--            <p><a href="#">Link</a></p>-->
<!--            <p><a href="#">Link</a></p>-->
        </div>
        <div class="col-sm-8 text-left">
            <div style="margin-top:150px;;margin-left:30%">
                <h1 class="fst-italic lh-1 mb-4">Get in to your building</h1>
                <p class="mb-5">사용자 아이디를 입력하세요</p>
                <div class="row input-group-newsletter" style="display:flex;margin-left:4px;">
                    <div class="col"><input class="form-control" id="userId" name="userId"
                                            type="text" data-sb-validations="required" />
                    </div>
                    <div class="col-auto" style="margin-left:2px;"><button class="btn btn-primary" id="submitButton" type="button">Go</button></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
<!--                <p>ADS</p>-->
            </div>
            <div class="well">
<!--                <p>ADS</p>-->
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p></p>
</footer>


<!-- Background Video-->
<!--<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" /></video>-->
<!-- Masthead-->
<!--<div class="masthead">-->
<!--    <div class="masthead-content text-white">-->
<!--        <div class="container-fluid px-4 px-lg-0">-->
<!--            <h1 class="fst-italic lh-1 mb-4">Get in to your building</h1>-->
<!--            <p class="mb-5">사용자 아이디를 입력하세요</p>-->
<!--            <div class="row input-group-newsletter">-->
<!--                <div class="col"><input class="form-control" id="userId" name="userId"-->
<!--                                        type="text" data-sb-validations="required" />-->
<!--                </div>-->
<!--                <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="button">Go</button></div>-->
<!--            </div>-->
<!--            <div class="invalid-feedback mt-2" data-sb-feedback="text:required">아이디를 입력해야 합니다.</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
<script>
    let chapter = document.querySelector('#submitButton');
    chapter.addEventListener('click', (e) => {
        e.preventDefault();
        goUserPage()
            .then(response => {
                if(response.data=="SUCCESS"){
                    let userId = document.querySelector('input[name="userId"]').value;
                    window.location.href = "/user/page/"+userId;
                }else{
                    alert("존재하지 않는 사용자 입니다.");
                    return false;
                }
            })
    });

    function goUserPage(){
        let userId = document.querySelector('input[name="userId"]').value;
        return axios.get( "/user/"+userId);
    }

    var input = document.querySelector('input[name="userId"]');

    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            goUserPage();
        }
    });

</script>
</html>
