<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>

<div class="container">

    <div th:replace="layout/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>Get in to your building</h1>
        <p class="d-flex mt-5">
            <input class="form-control mr-1" id="userId" name="userId" placeholder="사용자 아이디를 입력하세요"
                                    type="text" data-sb-validations="required" />
            <button class="btn btn-sm btn-secondary" id="submitButton" type="button">Go</button>
        </p>

    </div>

    <div th:replace="layout/footer :: footer" />

</div> <!-- /container -->

</body>
<script>
    let chapter = document.querySelector('#submitButton');
    chapter.addEventListener('click', (e) => {
        e.preventDefault();
        goUserPage();
    });

    function getUserPage(){
        let userId = document.querySelector('input[name="userId"]').value;
        return axios.get( "/user/"+userId);
    }

    function goUserPage(){
        getUserPage()
            .then(response => {
                if(response.data=="SUCCESS"){
                    let userId = document.querySelector('input[name="userId"]').value;
                    window.location.href = "/user/page/"+userId;
                }else{
                    alert("존재하지 않는 사용자 입니다.");
                    return false;
                }
            })
    }

    let input = document.querySelector('input[name="userId"]');

    input.focus();
    input.addEventListener("keyup", (e) => {
        if (e.keyCode === 13) {
            goUserPage();
        }
    });

</script>
</html>
