<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>

<div class="container">

    <div th:replace="layout/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <input type="hidden" name="userId" th:value="${userId}" >
        <table class="table">
            <tr>
                <td>
                    Type
                </td>
                <td>
                    Man <input type="radio" name="type" onchange="changeType(this)" th:value="M"  checked>
                    Woman <input type="radio" name="type" onchange="changeType(this)" th:value="W" >
                </td>
            </tr>
            <tr>
                <td>
                    Floor
                </td>
                <td>
                    <select name="floor" class="form-control w-100" style="width:25%">
                        <option value="">선택하시오.</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <hr>

    <div class="border-light room-div">
        <div id="rooms">


        </div>
    </div>

    <div th:replace="layout/footer :: footer" />

</div> <!-- /container -->

</body>
<script>

    init();

    function init(){
        let userId = document.querySelector("input[name=userId]").value;
        let type = document.querySelector("input[name=type]").value;
        if(type==""){
            return;
        }
        getFloorList(type,userId)
            .then(response => {
                let html = setFloor(response.data);
                document.querySelector("select[name=floor]").innerHTML = html;
            })

    }

    let userId = document.querySelector("input[name=userId]").value;
    function changeType(current){
        document.querySelector("#rooms").innerHTML = '';
        let type = current.value;
        if(type==""){
            return;
        }

        getFloorList(type,userId)
            .then(response => {
                let html = setFloor(response.data);
                document.querySelector("select[name=floor]").innerHTML = html;
            })

    }

    function getFloorList(type,userId){
        return axios.get( "/user/floor/"+userId+"/"+type);
    }

    function setFloor(floors){
        let html = '<option>선택하세요.</option>';
        if(floors==null || floors.length==0) return html;
        floors.forEach((floor, index) => {
            html += `
             <option value${floor}>${floor}</option>
            `
        });
        return html;
    }

    document.querySelector('select[name=floor]').addEventListener('change',  () => {
        let type = document.querySelector("input[name=type]:checked").value;
        let floor = document.querySelector("select[name=floor] option:checked").value;
        if(!floor){
            return;
        }

        setRoomList(type,floor);

    });

    function setRoomList(type,floor){
        getRoomList(type,floor,userId)
            .then(response => {
                let html = setRooms(response.data);
                document.querySelector("#rooms").innerHTML = html;
            })
    }

    function getRoomList(type,floor,userId){
        return axios.get( "/user/room/"+userId+"/"+type+"/"+floor);
    }

    function setRooms(rooms){
        let html = '';
        if(rooms==null || rooms.length==0) return html;
        rooms.forEach((room, index) => {
            html += `
             <div data-room="${room.roomNumber}" data-id="${room.id}" data-occupy="${room.occupy}" class="room-block ${room.occupy == 'Y' ? 'active' : ''}"></div>
            `
        });
        return html;
    }

    let rooms = document.querySelectorAll(".room-block");

    document.querySelector('#rooms').addEventListener('click', function(e) {
        e.preventDefault();
        let ele = e.target;
        let roomNum = ele.dataset.room;
        let occupy = ele.dataset.occupy;
        let id = ele.dataset.id;
        let newOccupy = '';
        if(occupy=='Y'){
            newOccupy = 'N';
        }else{
            newOccupy = 'Y';
        }
        updateRoomOccupy(id,userId,newOccupy)
            .then(response => {
                let type = document.querySelector("input[name=type]").value;
                let floor = document.querySelector("select[name=floor] option:checked").value;
                setRoomList(type,floor);

            })
    });

    function updateRoomOccupy(id,userId,newOccupy){
        return axios.get( "/user/room/update/"+userId+"/"+id+"/"+newOccupy);
    }

</script>

</html>
